<%= render 'shared/headers_tags' %>

<%= render 'shared/nav' %>

<h2 class="thanks-header"><%= @group.to_s %> - <%= t('thanks.rewards_listing') %></h2>

<div class="thanks-main-mng">

  <div style="float:left;min-width:30%">
    <%= render 'reward_form' %>
  </div>

  <div style="float:right;min-width:65%;margin-right:40px;margin-top:8px;">
    <% if @rewards.any? %>
      <table class="list">
        <thead>
          <tr>
            <th><%= t('thanks.user') %></th>
            <th><%= t('thanks.title') %></th>
            <th><%= t('thanks.points_spent') %></th>
            <th><%= t('thanks.date') %></th>
          </tr>
        </thead>
        <tbody>
          <% @rewards.each do |reward| %>
            <tr class="<%= cycle 'odd', 'even' %>">
              <td><%= reward.user.to_s %></td>
              <td><%= reward.title %></td>
              <td><%= reward.points %></td>
              <td><%= reward.created_at.to_s(:db) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <p class="pagination" style="padding-top:12px;"><%= pagination_links_full @paginate %></p>
    <% else %>
      <p><%= t('thanks.no_manager_rewards') %></p>
    <% end %>
  </div>
</div>

<div class="splitcontentright" style="width:20%;">
  <fieldset>
    <legend><%= t('thanks.filters') %></legend>
    <%= form_tag manager_rewards_path, method: :get do %>
      <p>
        <b><%= label_tag :received_by, t('thanks.user') %></b>
        <%= select_tag :received_by, options_from_collection_for_select(@users, "id", "to_s", params[:received_by]), :multiple => true, :class => 'selectize-with-btn' %>
      </p>
      <p>
        <b><%= label_tag :date_from,  t('thanks.date_from') %></b>
        <span style="white-space:nowrap;">
          <%= text_field_tag :date_from, params[:date_from], :autocomplete => 'off', :class => "basic-text" %>
          <%= calendar_for(:date_from) %>
        </span>
      </p>
      <p>
        <b><%= label_tag :date_to,  t('thanks.date_to') %></b>
        <span style="white-space:nowrap;">
          <%= text_field_tag :date_to, params[:date_to], :autocomplete => 'off', :class => "basic-text" %>
          <%= calendar_for(:date_to) %>
        </span>
      </p>
      <p><%= submit_tag l('label_search') %></p>
    <% end %>
    <div class="contextual">
      <%= link_to l('thanks.reset_filters'), manager_rewards_path, class: "icon icon-reload" %>
    </div>
  </fieldset>
</div>
