<% content_for :header_tags do %>
  <%= stylesheet_link_tag 'thanks.css', :plugin => 'redmine_say_thanks' %>
  <%= stylesheet_link_tag 'tipsy.css', :plugin => 'redmine_say_thanks' %>
  <%= javascript_include_tag 'jquery.tipsy.js', :plugin => 'redmine_say_thanks' %>
  <%= javascript_include_tag 'tooltips.js', :plugin => 'redmine_say_thanks' %>
<% end %>

<%= render 'shared/headers_tags' %>

<%= render 'shared/nav' %>

<h2 class="thanks-header"><%= @group.to_s %> - <%= t('thanks.thanks_listing') %></h2>

<div class="thanks-main">
  <% if @thanks.any? %>
    <table class="list">
      <thead>
        <tr>
          <th><%= t('thanks.given_to') %></th>
          <th><%= t('thanks.given_by') %></th>
          <th><%= t('thanks.status') %></th>
          <th><%= t('thanks.date') %></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @thanks.each do |thank| %>
          <% css_class = cycle 'odd', 'even' %>
          <% css_class << ' unrolled' if thank.unrolled? %>
          <tr class="<%= css_class %>">
            <td><%= thank.receiver.to_s %></td>
            <td><%= thank.sender.to_s %></td>
            <td><%= thank.status %></td>
            <td><%= thank.created_at.strftime('%d-%m-%Y') %></td>
            <td class='buttons'>
              <% if thank.description.present? %>
                <%= link_to 'description', '#', title: thank.description, rel: 'tipsy', class: 'info' %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <p class="pagination" style="padding-top:12px;"><%= pagination_links_full @paginate %></p>
  <% else %>
    <p><%= t('thanks.no_manager_thanks') %></p>
  <% end %>
</div>

<div class="splitcontentright" style="width:20%;">
  <fieldset>
    <legend><%= t('thanks.filters') %></legend>
    <%= form_tag manager_thanks_path, method: :get do %>
      <p>
        <b><%= label_tag :date_created,  t('thanks.date_created') %></b>
        <span style="white-space:nowrap;">
          <%= text_field_tag :date_created, params[:date_created], :autocomplete => 'off', :class => "basic-text" %>
          <%= calendar_for(:date_created) %>
        </span>
      </p>
      <p>
        <b><%= label_tag 'status', t('thanks.status') %></b>
        <%= select_tag :status, options_for_select(Thanks.statuses, params[:status]), :multiple => true, :class => 'selectize-with-btn' %>
      </p>

      <p>
        <b><%= label_tag t('thanks.recipient') %></b>
        <%= select_tag :received_by, options_from_collection_for_select(@users, "id", "to_s", params[:received_by]), :multiple => true, :class => 'selectize-with-btn' %>
      </p>

      <p>
        <b><%= label_tag t('thanks.sender') %></b>
        <%= select_tag :sent_by, options_from_collection_for_select(@users, "id", "to_s", params[:sent_by]), :multiple => true, :class => 'selectize-with-btn' %>
      </p>


      <p><%= submit_tag l('label_search') %></p>
    <% end %>
    <div class="contextual">
      <%= link_to l('thanks.reset_filters'), manager_thanks_path, class: "icon icon-reload" %>
    </div>
  </fieldset>
</div>
