<%= render 'shared/headers_tags' %>

<%= render 'shared/nav' %>

<h2 class="thanks-header"><%= @group.to_s %> - <%= t('thanks.users_stats') %></h2>

<div class="thanks-main-mng">

  <div style="float:left;min-width:30%">
    <%= render 'reward_form' %>
  </div>

  <div style="float:right;min-width:65%;margin-right:40px;margin-top:8px;">
    <table class="list">
      <thead>
        <tr>
          <th><%= t('thanks.user') %></th>
          <th><%= t('thanks.to_spend') %></th>
          <th><%= t('thanks.quarantine') %></th>
          <th><%= t('thanks.rewarded') %></th>
          <th><%= t('thanks.unrolled') %></th>
          <th><%= t('thanks.sent') %></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @users_with_points.each do |user_with_points| %>
          <tr class="<%= cycle 'odd', 'even' %>">
            <td><%= user_with_points.to_s %></td>
            <td><strong><%= user_with_points.active %></strong></td>
            <td><%= user_with_points.waiting %></td>
            <td><%= user_with_points.rewarded %></td>
            <td><%= user_with_points.unrolled %></td>
            <td><%= user_with_points.sent  %></td>
            <td class="buttons"></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<div class="splitcontentright" style="width:20%;">
  <fieldset>
    <legend><%= t('thanks.filters') %></legend>
    <%= form_tag manager_thanks_stats_path, method: :get do %>
      <p>
        <b><%= label_tag :received_by, 'User' %></b>
        <%= select_tag :received_by, options_from_collection_for_select(@selectable_users, "id", "to_s", params[:received_by]), :multiple => true, :class => 'selectize-with-btn' %>
      </p>

      <p><%= submit_tag l('label_search') %></p>
    <% end %>
    <div class="contextual">
      <%= link_to l('thanks.reset_filters'), manager_thanks_stats_path, class: "icon icon-reload" %>
    </div>
  </fieldset>
</div>
