<% content_for :header_tags do %>
  <%= stylesheet_link_tag 'thanks.css', :plugin => 'redmine_say_thanks' %>
  <%= javascript_include_tag 'selectize.min.js',    :plugin => 'redmine_say_thanks' %>
  <%= stylesheet_link_tag 'selectize.default.css',  :plugin => 'redmine_say_thanks' %>
<% end %>

<%= render 'shared/nav' %>

<% if  User.current.can_give_thanks? %>
  <%= form_for @new_thanks, url: thanks_path do |f| %>
    <fieldset class="box settings" style="max-width:30%">
      <legend><strong><%= t('thanks.thank_someone') %></strong></legend>
      <p>
        <%= f.label :receiver_id, t('thanks.choose_user') %>
        <%= f.select :receiver_id, "<option value=''></option>".html_safe + options_from_collection_for_select(User.active.thankable, 'id', 'to_s'), {}, :class => 'selectize', :autofocus => false %>
      </p>
      <%= f.submit 'Submit' %>
    </fieldset>

  <% end %>

<% else %>
  <h3><%= t('thanks.come_back', date: User.current.next_thanks_date.strftime('%d %B, %Y')) %></h3>
<% end %>
<%= javascript_tag do %>
$(function(){
  $('.selectize').selectize().close();
})
<% end %>
