<% content_for :header_tags do %>
  <%= stylesheet_link_tag 'thanks.css', :plugin => 'redmine_say_thanks' %>
<% end %>

<%= render 'nav' %>
<h2>My points</h2>
<div class="splitcontentleft" style="width:15%;margin-top:15px;">


  <h4>Total earned: <%= @points[:total] %></h4>
  <h4>To spend: <%= @points[:to_spend] %></h4>
  <h4>In quarantine: <%= @points[:quarantine] %></h4>
  <h4>Unrolled: <%= @points[:unrolled] %></h4>
  <h4>Spent: <%= @points[:spent] %></h4>

</div>

<div class="splitcontentright" style="width:50%;margin-right:20%">

  <div class="table-wrapper">
    <h3>Points received</h3>
    <table class="list">
      <thead>
        <tr>
          <th>Given by</th>
          <th>Date</th>
          <th>Status</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @thanks.each do |thank| %>
          <% css_class = cycle 'odd', 'even' %>
          <% css_class << ' unrolled' if thank.unrolled? %>
          <tr class="<%= css_class %>">
            <td><%= thank.sender.to_s %></td>
            <td><%= thank.created_at.strftime('%d-%m-%Y') %></td>
            <td><%= thank.status %></td>
            <td class="buttons">
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <p class="pagination" style="padding-top:12px;"><%= pagination_links_full @paginate %></p>
  </div>
</div>
