<% content_for :header_tags do %>
  <%= stylesheet_link_tag 'thanks.css', :plugin => 'redmine_say_thanks' %>
<% end %>

<%= render 'shared/nav' %>

<div class="thanks-stats">

  <h2 class="thanks-header"><%= t('thanks.my_stats') %></h2>

  <h4><%= t('thanks.total_earned') %>: <%= @points[:total] %></h4>
  <h4><%= t('thanks.to_spend') %>: <%= @points[:to_spend] %></h4>
  <h4><%= t('thanks.quarantine') %>: <%= @points[:quarantine] %></h4>
  <h4><%= t('thanks.unrolled') %>: <%= @points[:unrolled] %></h4>
  <h4><%= t('thanks.spent') %>: <%= @points[:spent] %></h4>
</div>

<div class="thanks-main">

  <div class="table-wrapper">
    <h2 class="thanks-header"><%= t('thanks.received_listing') %></h2>
    <% if @thanks.any? %>
      <table class="list">
        <thead>
          <tr>
            <th><%= t('thanks.given_by') %></th>
            <th><%= t('thanks.date') %></th>
            <th><%= t('thanks.status') %></th>
          </tr>
        </thead>
        <tbody>
          <% @thanks.each do |thank| %>
            <% css_class = cycle 'odd', 'even' %>
            <% css_class << ' unrolled' if thank.unrolled? %>
            <tr class="<%= css_class %>">
              <td><%= thank.sender.to_s %></td>
              <td><%= thank.created_at.strftime('%d-%m-%Y') %></td>
              <td><%= thank.status %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <p class="pagination" style="padding-top:12px;"><%= pagination_links_full @paginate %></p>
    <% else %>
      <p><%= t('thanks.no_received_thanks') %></p>
    <% end %>
  </div>
</div>
