<% content_for :header_tags do %>
  <%= stylesheet_link_tag 'thanks.css', :plugin => 'redmine_say_thanks' %>
<% end %>

<%= render 'nav' %>

<h3>My Rewards</h1>


<table class="list" style="width:40%;">
  <thead>
    <tr>
      <th>Reward title</th>
      <th>Point cost</th>
      <th>Rewarded by</th>
      <th>Rewarded at</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @rewards.each do |reward| %>
      <tr class="<%= cycle 'odd', 'even' %>">
        <td><%= reward.title %></td>
        <td><%= reward.points %></td>
        <td><%= reward.manager.to_s %></td>
        <td><%= reward.created_at.strftime('%d-%m-%Y') %></td>
        <td class="buttons"></td>
      </tr>
    <% end %>
  </tbody>
</table>
<p class="pagination" style="padding-top:12px;"><%= pagination_links_full @paginate %></p>
